@charset "UTF-8";

body {font-family: "Open Sans", sans-serif, 돋움; }

<<<<<<< HEAD
<<<<<<< HEAD
#mycontainer   { width:85%; margin:0 auto; padding:20px; }
#myheader      { background-color:#EBEBE0; height:56px; padding: 10px; }
#mycontent      { background-color:#F5F5F5; float:left; width:70%; min-height:800px; padding-top: 40px;}
#mysideinfo      { background-color:#F0FFFF; float:left; width:30%; min-height:800px; padding-top: 20px;}
#myfooter      { background-color:#555555; clear:both; height:100px; }
=======
/* #mycontainer   { width:85%; margin:0 auto; padding:20px; } */
#myheader {
	border: solid 1px gray;
	height: 150px;
=======
/* #mycontainer   { width:85%; margin:0 auto; padding:20px; } */
#myheader {
	border-bottom: solid 2px #0843ad;
	height: 130px;
>>>>>>> wlgusdl10
	padding: 10px;
	
    }
    
#mysideinfo      {
<<<<<<< HEAD
	border: solid 1px gray;
	width:20%;
=======
	border-right: solid 2px #0843ad;
	width:17%;
>>>>>>> wlgusdl10
	float: left;
	min-height:800px;
	padding-top: 20px;
	}
	
#mycontent      {
<<<<<<< HEAD
	border: solid 1px gray;
	float:left;
	width:80%;
=======
	/* border: solid 1px #0843ad; */
	float:left;
	width:83%;
>>>>>>> wlgusdl10
	min-height:800px;
	padding-top: 40px;
	}
	
/* #myfooter      {
	border: solid 1px gray;
	clear:both;
	height:100px; 
	} */
<<<<<<< HEAD
>>>>>>> parent of cca8490 (학사행정 tiles(header, side) 변경)
=======
>>>>>>> wlgusdl10
   
#myheader a {text-decoration:none;}

/* mouse over link */
#myheader a:hover {color: orange; font-weight: bolder;}

#myheader .mynav {font-size: 13pt;}
.myrank {font-weight:bold; color:red; font-size:13pt;}
.myaligncenter {text-align:center;}