@charset "UTF-8";

body {font-family: "Open Sans", sans-serif, 돋움; }

/* #mycontainer   { width:85%; margin:0 auto; padding:20px; } */
#myheader {
	border: solid 1px gray;
	height: 150px;
	padding: 10px;
	
    }
    
#mysideinfo      {
	border: solid 1px gray;
	width:20%;
	float: left;
	min-height:800px;
	padding-top: 20px;
	}
	
#mycontent      {
	border: solid 1px gray;
	float:left;
	width:80%;
	min-height:800px;
	padding-top: 40px;
	}
	
/* #myfooter      {
	border: solid 1px gray;
	clear:both;
	height:100px; 
	} */
   
#myheader a {text-decoration:none;}

/* mouse over link */
#myheader a:hover {color: orange; font-weight: bolder;}

#myheader .mynav {font-size: 13pt;}
.myrank {font-weight:bold; color:red; font-size:13pt;}
.myaligncenter {text-align:center;}